* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sider-div {
  padding-top: 10px;
  width: 20%;
}

.dashboard-div {
  /* padding: 20px; */
  width: 78%;
  /* background: #121F3E; */
}

.Sider:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
}

.Sider {
  height: 100vh;
  width: 95%;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
  padding: 20px;
}

.Sider input {
  padding: 10px;
  border: none;
  color: black;
  width: 200px;
  margin-bottom: 8px;
  background-color: #f8fafb;
  transition: width 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.Sider input:hover {
  border-width: 2px;
  border-color: #aacbfd;
  border-style: solid;
}


.add-btn button {
  width: 100%;
  cursor: pointer;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  align-items: center;
  border: 2px solid #ecf1f4;
  transition: width 0.3s ease-in-out, transform 0.3s;
  border-radius: 10px;
}

.add-btn button:hover {
  border-color: #aacbfd;
  border-width: 2px;

}

.Sider hr {
  color: #ecf1f4;
}

.add-btn.add-btn-hide {
  margin-bottom: 10px;
}

.add-btn.add-btn-hide button {
  border: none;
  border-bottom: 2px solid #aacbfd;

}

.add-btn.add-btn-hide button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #aacbfd;
}

.add-btn button span {
  color: #818fa2;
  font-size: 20px;
}

.add-btn {
  margin-bottom: 10px;
}


.Sider.hidden {
  width: 10%;
  height: 100vh;
  transition: width 0.3s ease-in-out;
}

.Sider.hidden:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
}

.Options ul li {
  list-style: none;
}

.Options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.toggle-btn {
  width: 10%;
  height: 40px;
}

.sider-btn button {
  cursor: pointer;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 2px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sider-btn button:hover {
  border-style: solid;
  border-color: #aacbfd;
  border-width: 2px;
}

.sider-btn button:active {
  opacity: 0.5;
}


.sider-field input {
  width: 95%;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

.sider-line {
  border-color: 2px solid #8995AC;
}

.list-line {
  border-top: 2px dashed #8995AC;
  margin-bottom: 10px;
}

.sider-field.small {
  width: 23px;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  transition: width 0.3s ease-in-out, transform 0.3s;
  border-bottom: 2px solid #aacbfd;
  margin-bottom: 8px;
}

.sider-field.small:hover {
  border-width: 2px;
  border-style: solid;
  border-color: #aacbfd;
}

.list {
  cursor: pointer;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  justify-content: space-between;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 13px;
}

.list span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #aacbfd;
}


.list:active {
  opacity: 0.5;
}


.list.small {
  width: 23px;
  transition: width 0.3s ease-in-out, transform 0.3s;
  border-bottom: 2px solid #aacbfd;
}

.list.small:hover {
  border-width: 2px;
  border-color: #C1D8FC;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 102.1%;
  height: 60px;
  align-items: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.Heading {
  color: #121F3E;
  margin-left: 10px;
  cursor: pointer;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.links li {
  list-style: none;
}

.account {
  margin-top: 10px;
  object-fit: cover;
  object-position: center;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  cursor: pointer;
}

.link-list {
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  color: #9CA6BA;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.link-list:hover {
  color: #121F3E;
  background-color: #F8FAFB;
  border-width: 2px;
  border-color: #9CA6BA;
}

.nav-sider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  padding: 20px;
  background-color: #F8FAFB;
  width: 100%;
}

.head {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.head-title p {
  margin-left: 10px;
  font-size: 12px;
  color: #8995AC;
}

.head-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head-title h2 {
  margin-left: 10px;
}


.head-title img {
  height: 20px;
  width: 20px;
}



.head-btn {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.head-btn button {
  cursor: pointer;
  border: none;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-color: #FFFFFF;
  color: #8995AC;
  border-width: 1px;
}

.head-btn button:hover {
  background-color: #F8FAFB;
  border-radius: 8px;
  color: #121F3E;
}

.head-btn button:active {
  opacity: 0.5;
}

.head-btn span {
  font-size: 25px;
  color: #9CA6BA;
  margin-bottom: 3px;
}

.buttons {
  justify-items: center;
  padding: 2px;
  background-color: #FFFFFF;
  height: 32px;
  border-radius: 8px;
  gap: 1px;
}

.menu-btn {
  padding: 2px;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 8px;
}


.menu-btn button {
  height: 30px;
  color: #8995AC;
}

.sider-logo img {
  height: 20px;
  width: 20px;
}



.Flex-Grid {
  margin-top: 53px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #F8FAFB; */
  gap: 20px;
}

.Up {
  height: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;

}

.Up:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
}



.Up-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.Up-head-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.Up-head-left p {
  color: #8994ac;
  font-size: 15px;
}

.Up-head-left h1 {
  color: #121F3E;
}

.Up-head-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.Up-head-right select {
  padding: 5px;
  height: 40px;
  width: 100px;
  border: 2px solid #ecf1f4;
  border-radius: 10px;
  font-size: 17px;
  color: #121F3E;
  cursor: pointer;
  font-weight: bold;
}

.Up-head-right select option {
  background-color: #f8fafb;
}

.grid-btns {
  border: 2px solid #ecf1f4;
  /* background-color: #818fa2; */
  height: 33px;
  padding: 1px;
  border-radius: 10px;
}

.grid-btns button {
  padding: 2px 2px 2px 2px;
  border: none;
  background-color: #f8fafb;
  cursor: pointer;
}

.grid-btns button:hover {
  background-color: #ffffff;
  transition: background-color 0.5s;
}

.line {
  border-color: #8995AC;
  margin-bottom: 15px;
}


.reading-color {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 25px;
  margin-bottom: 15px;

}

.reading-green {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 5px;
}

.green{
  background-color: #d5eb77;
  width: 100%;
  height: 15vh;
  padding: 10px;
  border-radius: 15px;
  transition: height 0.3s ease-in-out, transform 0.3s;
}

.green .read-per{
  display: block;
}

.read-per{
  margin-top: 80px;

}

.read-per p{
  color: #121F3E;
  font-size: 15px;
  font-weight: 500;
}


.percent{
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 6px 6px 6px;
  width: 17%;
  background-color: #121F3E;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
}

.green-card{
  height: auto;
  transition: height 0.3s ease-in-out, transform 0.3s;
  background-color: #e7f4b3;
}


.green-card .read-per{
  display: none;
}

.reading-pink {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 27%;
}

.pink {
  background-color: #ffd4ff;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  height: 12.2vh;
  transition: height 0.5ms ease, transform ;
}

.pink.pink-card{
  height: auto;
  background-color: #ffe0ff;
}

.pink-card .read-per-pink{
  display: none;
}

.read-per-pink{
  margin-top: 55px;
}

.read-per-pink p{
  font-size: 15px;
  color: #121F3E;
}


.pink-percent{
  padding: 6px 6px 6px 6px;
  background-color: #121F3E;
  width: 12%;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  align-items: center;
}

.reading-purple {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 32%;
}


.purple{
  background-color: #e2daff;
  width: 100%;
  height: 14vh;
  padding: 10px;
  border-radius: 15px;
}

.purple.purple-card{
  height: 41px;
  background-color: #eae4ff;
}

.purple-card .read-per-purple{
  display: none;
}

.purple-percent{
  padding: 6px 6px 6px 6px;
  background-color: #121F3E;
  width: 10%;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  align-items: center;
}

.read-per-purple{
  margin-top: 70px;
}

.read-per-purple p{
  font-size: 15px;
  color: #121F3E;
}

.yellow {
  background-color: #ffe96a;
  width: 100%;
  height: 15vh;
  border-radius: 15px;
  padding: 10px;
}

.yellow.yellow-card{
  background-color: #ffed88;
  height: 10.6vh;
}

.reading-yellow{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 17%;
}

.yellow-percent{
  padding: 6px 6px 6px 6px;
  background-color: #121F3E;
  width: 17%;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  align-items: center;
}

.read-per-yellow p{
  font-size: 15px;
  color: #121F3E;
}

.yellow.yellow-card .read-per-yellow{
  display: none;
}

.read-per-yellow{
  margin-top: 80px;
}





.reading-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}


.reading-name p {
  transition: transform 0.5s;
  cursor: pointer;
}

.reading-name p:hover {
  transform: translateX(3px);
}

.cash {
  color: #d5eb77;
  font-size: 20px;
}

.public {
  color: #ffd4ff;
  font-size: 20px;
}

.equity {
  color: #e2daff;
  font-size: 20px;
}

.real {
  font-size: 20px;
  color: #ffe96a;
}

.Down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  
}

.Down:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
}

.Down-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Down-head-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mode-btns{
  background-color: #f8fafb;
  padding: 2px;
  border-radius: 10px;
}


.mode-btns button{
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  border: none;
  background-color: #f8fafb;
  color: #919cb2;
  font-size: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  gap: 5px;
  border-radius: 10px;
}

.mode-btns button:hover{
  background-color: #ffffff;
  color: #121F3E;
}

.Down-head-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}


.right-btns{
  padding: 2px;
  background-color: #f8fafb;
  border-radius: 10px;
}

.right-btns button{
  cursor: pointer;
  border: none;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
  background-color: #f8fafb;
  color: #919cb2;
  border-radius: 10px;
}

.right-btns button:hover{
  background-color: #ffffff;
  color: #121F3E;
}

.right-btns button:active{
  opacity: 0.5;
}

.right-right-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.right-right-btns button{
  padding: 10px 12px 10px 12px;
  background-color: #ffffff;
  color: #121F3E;
  border: 2px solid #f8fafb;
  border-radius: 10px;
  font-size: 16px;
}

.right-right-btns button span{
  color: #818fa2;
  /* font-size: 18px; */
}

.right-right-btns button:active{
  opacity: 0.5;
}


.main-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.Dashboard-graph{
  display: flex;  
  align-items: center;
  /* background-color: #7c89a3 */
}

.Dashboard-graph img{
width: 380px;
}


.Dashboard-table{
  overflow-y: scroll;
  white-space: nowrap;
}

.Dashboard-table::-webkit-scrollbar{
  height: 7px;
  width: auto;
}

.Dashboard-table::-webkit-scrollbar-thumb{
  background: #e5ebf0;
}


.Dashboard-table tr th{
  align-items: center;
  height: 35px;
  padding-top: 15px;
  padding-right: 100px;
  border-bottom: 2px dashed #e2e4e6;
  color: #7c89a3 ;
  font-weight: 500;
  /* background-color: #121F3E; */
}

.Dashboard-table tr td{
  align-items: center;
  height: 35px;
  padding-top: 15px;
  /* padding: 10px; */
  border-bottom: 2px dashed #e2e4e6;
}

.table-heading{
  padding-right: -100px ;
}

 .table-img{ 
  width: 5px;
  /* border-radius: 10px; */
}

.table-img img{
  width: 20px;
  height: 20px;
  margin-left: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}








@media screen and (max-width :600px) {

  .Sider.hidden {
    display: none;

  }

  .Sider {
    width: 100px;
    height: 100%;
  }

  .list {
    height: 10px;
    padding-left: 10px;
    width: 50px;
    font-size: 12px;
  }







}